.navbar {
  background-color: darkblue;
  color: white;
}

.jumbotron {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid darkblue;
}

.title-row {
  font-weight: bold;
  font-size: 15px;
  background-color: lightgray;
  margin-top: 20px;
}

.star {
  /* visibility:hidden; */
  font-size: 25px;
  cursor: pointer;
  text-align: center;
}
.star:before {
  content: "\2606";
  position: absolute;
  visibility: visible;
}
.star:checked:before {
  content: "\2605";
  position: absolute;
}

.highlight-row {
  animation-name: highlight;
  animation-duration: 2s;
}

@keyframes highlight {
  from {
    background-color: white;
  }
  to {
    background-color: lightgreen;
  }
}
